@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
*{
    font-family: "Space Grotesk", sans-serif;
}
body {
    font-family: "Space Grotesk", sans-serif;
    background-image: url('vid.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #3C3D37;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ECDFCC;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #181C14;
    color: #ECDFCC;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #697565;
}

.hidden {
    display: none;
}

#results p {
    font-size: 1.2em;
    margin: 5px 0;
}